<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187271562703-opcu0m3fgo4e5aejg77e75g163j0p9gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187271562703-opcu0m3fgo4e5aejg77e75g163j0p9gl</string>
	<key>API_KEY</key>
	<string>AIzaSyBiZ-fuGBSqAjyJqBl8-B6nr3EFJUhn8VA</string>
	<key>GCM_SENDER_ID</key>
	<string>187271562703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.promise.UberCloniOS</string>
	<key>PROJECT_ID</key>
	<string>uberreclone</string>
	<key>STORAGE_BUCKET</key>
	<string>uberreclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187271562703:ios:66f87aa8781e419973beba</string>
</dict>
</plist>